[flake8]

# Définit la longueur maximale des lignes
max-line-length = 119

# Spécifie les fichiers ou répertoires à exclure de l'analyse
exclude =
    .gitignore,
    test.py,
    README.md,
    data,
    atelier,
    .venv
